@using Models;

<div class="background" >
    <div>VFF</div>

    @if (SelectedStadium != null)
    {
        foreach (StadiumSection s in SelectedStadium.Sections)
        {

        }
    }
</div>

